:root{ /*utilizado para salvar variaveis em css*/
    --vermelho-red: #00c3ff;
    --begezao-bege:#EBE5CE;
    --preto-black:#004cfd;
    --branco-white:#e1e1d5;
    --laranja-orange:#097e0d;
    --transition: all 0.5s ease;
    --Robt: 'Roboto',sans-serif;
    --So-Sans:'Source Sans Pro',sans-serif;
}
*{
    box-sizing: border-box; 
}
body{
    font-family: var(--Robt);
    margin:0;
}


a{
    color: var(--preto-black);
    text-decoration: none;
}

ul li{
    list-style-type: none;
}
img{
    width: 100%;
    display: block;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 1.0rem 0;
}
.btn{
    background: var(--laranja-orange) ;
    border: none;
    border-radius: 60px 10px;
    color: var(--branco-white);
    text-transform: capitalize;
    font-size: 0.9rem;
    padding: 0.6rem;
    display: block;
    transition: var(--transition);
    cursor: pointer;
}
.btn:hover{
    background: var(--preto-black);

}
.container{
    width: 100vw;
    margin: 0 auto;
}
.section-para{
    padding: 5rem 0 0 0 ;
}
.footer-text{
    margin: 0;
    color: var(--preto-black);
    line-height: 1.7;
    font-size: 0.90rem;
    opacity:0.8;
}


/*barra de navegação*/

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding-left: 5vw ;
    padding-right: 5vw ;
    background: var(--branco-white);
}

.nav-marca-botao{
    background: url(../img/zonlogo.jpg)no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0;

}
.navbar-marca{
    font-size: 1.2rem;
    font-weight: 700;
    
}

.navbar-marca span{
    color: var(--laranja-orange);
}

.navbar-botao{
     border: none;
     border-radius: 60px 10px;
     background: transparent;
     font-size: 1.4rem;
     color: var(--preto-black);
     cursor:pointer;  
     transition: var(--transition);
}
.navbar-botao:hover{
    color: var(--laranja-orange);
}

.navbar-inteira{
    margin: 0 auto;
    padding-bottom: 1.5rem;
    display: none;
}

.nav-item{
    padding: 0.66rem 0;
    text-align: center;
}

.nav-link, .info-contato{
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: var(--So-Sans);
    font-weight: 600;
    opacity: 0.8;
    transition: var(--transition);
}

.info-contato{
    display: block;
    text-align: center;
    color: var(--preto-black);
    padding: 1rem;
    cursor: pointer;
}

.nav-link:hover, .info-contato:hover{
    color: var(--laranja-orange);
}

.btn-top{
    width: 280px;
    margin: 0.2rem auto;
    border-radius: 60px 10px;

}

/*header */
.header{
    margin: 0 auto;
    padding: 0 auto;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../img/zonlogo.jpg) center/cover fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.header h2{
    font-size: 1.2rem;
    color: rgb(252, 252, 252);
    text-transform: uppercase;
}
.titulo-header{
    color: rgb(5, 179, 8);
    font-size: 2.8rem;
    padding: 1rem 0;
}
.header button{
    width: 150px;
    cursor: pointer;
    font-weight: 500;
}
.menu.section-para{
    padding-bottom: 0;
}
.section-para1{
    margin-top:40px;
    color: var(--preto-black);
}
.h2h2,.para{
    font-family: var(--So-Sans);
    font-style: italic;
    font-size: 30px;
    margin: 20px auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:10px;
    padding-bottom:50px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.servicos p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.servicos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 1380px;
    grid-gap: 25px;
    
} 

.servicos > div:nth-child(){
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 20px;
    align-items: center;
}


/* contact */
.contact-map{
    margin-bottom: 1.8rem;
}
.contact-form{
    margin: 1rem 0;
}
.form-control{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--grey);
    padding: 1rem 0.6rem;
    font-size: 0.95rem;
    opacity: 0.8;
    margin: 0.3rem;
    outline: none;
}
.form-group{
    display: flex;
}
.btn.contact-btn{
    width: 100%;
    margin-top: 0.5rem;
    font-weight: 600;
    padding: 1rem 0;
}
/* footer */
.footer{

    border-top: 2px 0 solid var(--begezao-bege);
    color: var(--preto-black);
    
}
.footer-item{
    margin-bottom: 3rem;
}
.footer-item h3{
    opacity: 0.8;
}
.footer-item .footer-text{
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.6;
}
.footer-item:nth-child(3){
    background: linear-gradient(rgba(0, 41, 244, 0.8), rgba(0, 0, 0, 0.7)), url(../img/zonlogo.jpg) center/cover no-repeat;
    color: var(--branco-white);
    padding: 2rem;
    border-radius: 1.3rem;
}
.footer-item:nth-child(3) .footer-text{
    color: var(--grey);
    line-height: 0.5;
}
.footer-item:nth-child(3) p:not(.footer-text){
    font-weight: 500;
}
.footer-icons{
    display: flex;
}
.footer-icons a{
    color: var(--preto-black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4rem 0.6rem 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: var(--transition);
}
.footer-icons a:first-child{
    margin-left: 0;
}
.footer-icons a:hover{
    background: var(--branco-white);
    color:var(--laranja-orange);
}
@media (max-width: 600px){
    .catalogo{
        grid-template-columns: repeat(2, 1fr);
    }
    .catalogo > div:nth-last-child(n + 4){
    display: block;
    }
    .catalogo > div.destaque {
        grid-column: auto;
        grid-row: auto;
        order: -1 ;
    }
}

@media screen and (min-width :768px){
    .titulo-header{
        width: 60%;
    }
}

@media screen and (min-width: 992px){
    .container{ 
        width: 85vw;
    }
    .navbar{
        background: transparent;
        display: flex;
        flex-wrap: wrap;
        padding-top: 1.2rem;
        padding-right: 7vw;
        padding-left: 7vw;

    }
    .navbar-botao{
        display: none;
    }
    .navbar-inteira{
        flex: 1 0 auto;
        display: flex!important;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0;

    }
    .navbar-nav{
        flex: 1 0 auto ;
        width: auto;
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

    }

    .nav-informacoes{
        flex: 0 0 300px;
        display: flex;
        justify-content: center;
    }

    .nav-marca-botao{
        flex: 0 0 350px;
    }

    .btn-top{
        width: auto;

    }
    .nav-item{
        padding: 0 0.8rem;
    }

    .navbar-marca, .nav-link, .info-contato{
        color: var(--branco-white);
        opacity: 1;
    }

    .navbar{
        width: 100%;
        background: var(--branco-white);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

    }

    .navbar .navbar-marca{
        color: var(--preto-black)!important;
    }
    .navbar .nav-link, .navbar .info-contato{
        opacity: 0.8;
        color: var(--preto-black)!important;
    }
    .navbar .nav-link:hover, .navbar .info-contato:hover{
        color: var(--laranja-orange)!important;

    }
    .footer-wrapper{
        grid-template-columns: repeat(4, 1fr);
    }

}
